# Node
node_modules/
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*
*.secret

# Firebase
.firebase/
.firebaserc
firebase-debug.log

# Build outputs
.build/
dist/
.svelte-kit/

# OS
.DS_Store
Thumbs.db
